* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* header section */
.header-container {
  padding: 15px 0;
}

.main-header {
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  text-align: center;
}

.menu-btn {
  width: 25px;
  padding: 10px;
  display: block;
  margin: 0px auto;
}

.nav-link {
  display: none;
}

/* about header section */
.about-header {
  background-color: #252524;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  margin: 0 20px 20px 20px;
  font-size: 18px;
  text-align: center;
}

/* photo section */
.about-img {
  width: 325px;
  border: 3px solid black;
  margin: 0 auto;
  display: block;
}

/* articles section */
article {
  text-align: center;
  margin: 20px;
}

article h3 {
  font-size: 16px;
}

article p {
  font-size: 14px;
}

/* footer section */
.footer-container {
  background-color: #252524;
  color: white;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  margin-top: 15px;
}



/* tablet */
@media (min-width: 768px) {
  .main-header {
    font-size: 50px;
  }
  .nav-container {
    text-align: center;
    padding: 30px;
  }
  .nav-link {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    padding: 10px;
    margin: 20px;
  }
  .nav-link:hover {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
  }
  .menu-btn {
    display: none;
  }
  .about-header {
    font-size: 25px;
    margin: 0 150px 20px 150px;
  }
  .about-img {
    width: 500px
  }
  article h3 {
    font-size: 14px;
  }
  article p {
    font-size: 12px;
    margin: 0 125px 0 125px;
  }
}

/* laptop/desktop */
@media (min-width: 1024px) {
  .about-header {
    font-size: 30px;
    margin: 0 250px 20px 250px;
  }
  .about-img {
    width: 750px
  }
  article h3 {
    font-size: 16px;
  }
  article p {
    font-size: 14px;
    margin: 0 175px 0 175px;
  }
}