* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* header section */
.header-container {
  padding: 15px 0;
}

.main-header {
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  text-align: center;
}

.menu-btn {
  width: 25px;
  padding: 10px;
  display: block;
  margin: 0px auto;
}

.nav-link {
  display: none;
}

/* contact header section */
.contact-header {
  background-color: #252524;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  margin: 0 25px 20px 25px;
  font-size: 18px;
  text-align: center;
}

/* contact form section */
.submission-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
 border: 2px solid black;
 padding: 15px;
 width: 325px;
 margin: 10px 0;
 font-size: 16px;
}

.message {
  height: 200px;
  resize: none;
}

#send-btn {
  background-color: #252524;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}

/* footer section */
.footer-container {
  background-color: #252524;
  color: white;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  margin-top: 15px;
}



/* tablet */
@media (min-width: 768px) {
  .main-header {
    font-size: 50px;
  }
  .nav-container {
    text-align: center;
    padding: 30px;
  }
  .nav-link {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    padding: 10px;
    margin: 20px;
  }
  .nav-link:hover {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
  }
  .menu-btn {
    display: none;
  }
  .contact-header {
    font-size: 25px;
    margin: 0 200px 20px 200px;
  }
  .input-field {
    width: 500px;
  }
  #send-btn {
    padding: 20px;
  }
}


/* laptop/desktop */
@media (min-width: 1024px) {
  .contact-header {
    font-size: 30px;
    margin: 0 400px 20px 400px;
  }
  .input-field {
    width: 600px;
  }
}